body {
    background-color: #404040;
    margin: 0;
}

.navbar {
    background-image: linear-gradient(to right, #b200ff, #4018ff);
}

.btn {
    background-color: white;
    color: black;
    padding: 8px 56px;
    margin: 4px 2px;
    text-align: center;
    font-size: 16px;
}

.profile-body {
    display: flex;
    justify-content: space-around;
    height: 90vh;
    color: white;
}

.left-profile {
    margin: 10px;
    background-color: #808080;
    border-radius: 25px;
}

.introduction {
    display: inline-flex;
    justify-content: space-around;
    padding: 10px;
    font-size: 30px;
}

.name_occupation {
    padding-left: 50px;
    padding-top: 30px;
}

.right-profile {
    margin: 10px;
    background-color: #808080;
    border-radius: 25px;
}

.connections-list {
    display: inline-flex;
    justify-content: space-around;
    padding: 10px;
    font-size: 30px;
}

.name_occupation1 {
    padding-left: 20px;
}

.list {
    display: flex;
    flex-wrap: wrap;
}

.list-item {
    display: flex;
    margin-bottom: 20px;
}

.list-content {
    width: 100%;
    background-color: #ccc;
    padding: 10px;
}